<html lang="en">
<head>
    <title>Diary</title>
    {% include 'diary/cdnlines.html' %}
</head>
<body>
<a href="{% url 'home' %}" style="position: relative; left: 80%;" type="submit" value="Add Event+" class="mt-5 btn btn-outline-dark">Go Back</a>
<div class="container">
    <div class="row">
        <div class="offset-3 col-md-6">
            <form id="post_form" method="post" action="" enctype="multipart/form-data" class="border-primary" style="border: solid black 1px; margin: 50px 40px; padding: 50px;">
                {% csrf_token %}
                <h3 class="text-center">To-Do Diary</h3>
                {{ dform }}<br>
                <center>
                <input type="submit" value="Upload" class="btn btn-outline-primary">
                </center>
            </form>
        </div>
    </div>
</div>
</body>
</html>